* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  /*IE10*/
  user-select: none;

  -webkit-touch-callout: none;

  /*系统默认菜单被禁用*/
  -webkit-user-select: none;

  /*webkit浏览器*/
  -khtml-user-select: none;

  /*早期浏览器*/
  -moz-user-select: none;

  /*火狐*/
  -ms-user-select: none;
}

.hidden {
  display: none !important;
}

.container {
  position: relative;
  width: 7.5rem;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #73D335;
}

.address-bg {
  width: 7.5rem !important;
  height: 13.34rem !important;
}

.content-wrap {
  position: absolute;
  top: 7.14rem;
  left: 0;
  width: 7.5rem;
  font-size: 0.28rem;
  color: #484848;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container>img {
  width: 100%;
}

.bottom-btn {
  position: absolute;
  bottom: 0;
  height: 1.58rem;
}

.input {
  outline: none;
  width: 4rem;
  height: 0.606rem;
  border-radius: 0.21rem;
  border: 0.02rem solid #484848;
  padding: 0.183rem 0 0.183rem 0.2rem;
  box-sizing: border-box;
  font-size: 0.24rem;
}

.textarea {
  outline: none;
  width: 4rem;
  border-radius: 0.21rem;
  border: 0.02rem solid #484848;
  padding: 0.183rem 0.2rem;
  box-sizing: border-box;
  font-size: 0.24rem;
}

.content-item {
  margin-top: 0.27rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 5.4rem;
}

.tip-wrap {
  margin-top: 0.19rem;
  width: 100%;
  text-align: center;
  font-size: 0.20rem !important;
  color: #FC2A52;
  opacity: 0.47;
  font-weight: 500;
}

input::-webkit-input-placeholder {
  color: rgba(72, 72, 72, 0.47);
  font-size: 0.24rem;
}

textarea::-webkit-input-placeholder {
  color: rgba(72, 72, 72, 0.47);
  font-size: 0.24rem;
}

.shadow {
  position: fixed;
  top: 0;
  left: 50%;
  width: 7.5rem;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, .66);
  display: none;
  transform: translateX(-50%);
}

.pop-wrap {
  width: 84.93%;
  /* height: 7.02rem; */
  position: absolute;
  left: 50%;
  /* right: 0; */
  /* margin: 0 auto; */
  top: 50%;
  transform: translate(-50%, -60%);
}

.pop {
  /* width: 6.63rem;
  height: 7.02rem; */
}

.pop-btn {
  width: 6.57rem;
  height: 1rem;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}