 * {
   margin: 0;
   padding: 0;
 }

 .body {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
 }

 img {
   display: block;
   width: 100%;
   /*IE10*/
   user-select: none;

   -webkit-touch-callout: none;

   /*系统默认菜单被禁用*/
   -webkit-user-select: none;

   /*webkit浏览器*/
   -khtml-user-select: none;

   /*早期浏览器*/
   -moz-user-select: none;

   /*火狐*/
   -ms-user-select: none;
 }

 .container {
   position: relative;
   width: 7.5rem;
   margin: 0 auto;
 }

 /* 主页面 */
 .content {
   position: relative;
   background-color: #73D335;
   padding-bottom: 1.58rem;
 }

 .content .bottm-btn-wrap {
   position: fixed;
   bottom: 0;
 }

 .bottom-btn {
   height: 1.58rem;
   width: 7.5rem;
 }

 .order-btn {
   position: absolute;
   right: 0;
   top: 1.42rem;
   width: 1.61rem;
   height: 0.67rem;
 }

 /* 预热页面 */

 .preheat-page {
   position: relative;
   background-color: #73D335;
 }

 /* 规则弹窗 */

 .rule-btn {
   position: absolute;
   right: 0;
   top: 0.45rem;
   width: 1.61rem;
   height: 0.67rem;
 }

 .rules-container {
   width: 7.5rem;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
 }

 .rules-container .rules-mask {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, .5)
 }

 .rules-container .rules-list {
   width: 100%;
   height: 53vh;
   position: absolute;
   left: 0;
   bottom: 0;
   background: #fff;
   border-radius: .4rem .4rem 0 0;
   box-sizing: border-box;
   padding: .5rem;
   font-size: .28rem;
   color: #434343
 }

 .rules-title {
   font-size: .38rem;
   line-height: .38rem;
   text-align: center;
   font-family: PingFang SC;
   font-weight: 500;
   color: #212121;
   margin-bottom: .4rem
 }

 .rules-item {
   line-height: 1.5;
 }

 .rules-item-wrap {
   height: 82%;
   overflow-y: scroll;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
 }

 .rules-item-wrap::-webkit-scrollbar {
   display: none;
 }

 .close-btn {
   width: .31rem;
   height: .31rem;
   position: absolute;
   right: .42rem;
   top: .33rem
 }