* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  /*IE10*/
  user-select: none;

  -webkit-touch-callout: none;

  /*系统默认菜单被禁用*/
  -webkit-user-select: none;

  /*webkit浏览器*/
  -khtml-user-select: none;

  /*早期浏览器*/
  -moz-user-select: none;

  /*火狐*/
  -ms-user-select: none;
}

.hidden {
  display: none !important;
}

html {
  background-color: #fff;
}

.container>img {
  width: 100%;
}

.container {
  width: 7.5rem;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  position: relative;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 7.5rem;
}

.order-item {
  width: 6.7rem;
  margin-top: 0.4rem;
}

.order-item-top {
  position: relative;
  width: 100%;
  height: 1.1rem;
  border-radius: 0.2rem;
  background-color: #FFD5D4;
  border: 1px solid #DDDDDD;
  font-size: 0.32rem;
  font-weight: 500;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.5rem 0 0.4rem;
}

.order-item-contnet::before {
  content: '';
  position: absolute;
  width: 0.15rem;
  height: 0.3rem;
  background: #fff;
  left: -1px;
  top: -0.15rem;
  border-radius: 0 0.3rem 0.3rem 0;
  border: 1px solid #ddd;
  /* transform: rotate(-76deg); */
  border-left: 0;
}

.order-item-contnet::after {
  content: '';
  position: absolute;
  width: 0.15rem;
  height: 0.3rem;
  background: #fff;
  top: -0.15rem;
  right: -1px;
  border-radius: .3rem 0 0 .3rem;
  border: 1px solid #ddd;
  border-right: 0;
  /* transform: rotate(76deg); */
}

.order-item-contnet {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0.2rem;
  border: 1px solid #DDDDDD;
  font-size: 0.28rem;
  font-weight: 500;
  box-sizing: border-box;
  padding: 0.3rem 0 0 0.39rem;
  border-top: 0;
}

.item-row {
  margin-bottom: 0.29rem;
}

.item-row-title {
  color: #333333;
}

.item-row-result {
  color: #666666;
}

.item-tip-text {
  color: #B4B4B4;
  font-size: 0.24rem;
}

.order-item-btn {
  width: 6.7rem;
  height: 0.8rem;
  border-radius: 0.39rem;
  background: linear-gradient(267deg, #FF2F2B 0%, #FF4F3D 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.32rem;
  color: #FEFEFF;
  font-weight: 500;
  margin-top: 0.19rem;
}

.tip-wrap {
  width: 6.99rem;
  font-size: 0.28rem;
  color: #909090;
  border-top: 1px dashed #3B0B03;
  padding: 0.31rem 0.31rem 2rem 0.21rem;
  box-sizing: border-box;
  margin-top: 0.6rem;
}

.empty {
  width: 7.5rem;
  height: 100vh;
  background-color: #fff;
}

.empty-item {
  margin-top: 1.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-img {
  width: 2.87rem;
  height: 2.55rem;
}

.empty-title {
  color: #999999;
  font-size: 0.3rem;
  font-weight: 400;
  margin-top: 0.3rem;
}

.divider {
  width: 100%;
  margin-top: 0.4rem;
  border-top: 1px dashed #3B0B03;
}

.refresh-btn-wrap {
  position: fixed;
  bottom: 4rem;
  right: 0.42rem;
  width: 1.42rem;
  height: 1.23;
}