<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>送周边首页</title>
  <script src="https://act.development.platform.babybus.com/lib/jquery/dist/jquery.min.js"></script>
  <script src="https://act.development.platform.babybus.com/lib/tool/vconsole.min.js"></script>

  <script>
    // 服务端数据
    var resultCode = ''; //错误号 ''
    var accountID = 0; //当前登录的帐号ID
    var androidPackageID = 2;
    var iosPackageID = 1;
    var joinBeginTime = 1612330554; //活动可以参与的开始时间(秒)
    var joinEndTime = 1612589754; //活动可以参与的截止时间(秒)
    var exChangeEndTime = 1612848954; //活动兑换的截止时间(秒)
    var serverTime = 1612589753; //服务器当前时间

    var localGiftData = {
      "001": {
        name: 'JOJO的小火车',
        description: '职业拼图套装，开启职业认知',
        price: 58,
        icon: 'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/299cd63075c045eaba7e2df6b695d00d.png',
        imgList: [
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/3cf813d66dad4dceb09589feac9e93cf.png',
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/273399a239d441b393d2e2566d4316f6.png',
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/aa8226100974451992524e4360b43af9.png'
        ],
        iconBgColor: '#d3efff',
        iconBottomColor: '#95d8ff',
      },
      "002": {
        name: '恐龙积木',
        description: '学习恐龙百科，促进脑部开发',
        price: 49,
        icon: 'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/5d9f7bb35ef7424e97ef749a2c5ad486.png',
        imgList: [
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/2e2faa9c621847dd93a107c2a2c60ac8.png',
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/97611bc7877a4a9a8168f33f4e36f082.png'
        ],
        iconBgColor: '#ffddde',
        iconBottomColor: '#ffc4ca',
      },
      "003": {
        name: '奇妙古诗词',
        description: '60首古诗词，国学经典启蒙',
        price: 49,
        icon: 'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/34a130cf261e405fbff03c7e75b911eb.png',
        imgList: [
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/0d0da0404d2b4d1099406663e8b2041c.png',
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/1d31571c3ee741edb718d1c2a174ca05.png',
          'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/aa46009d1a434e3d829fe2b25797b4c7.png'
        ],
        iconBgColor: '#efdef8',
        iconBottomColor: '#e1c4fa',
      },
    };
    // 页面适配
    (function () {
      var html = document.documentElement;
      var windowWidth = html.clientWidth > 600 ? 600 : html.clientWidth;
      html.style.fontSize = windowWidth / 7.5 + 'px';
    }());
    var vConsole = new VConsole();
  </script>

  <link rel="stylesheet" href='./css/index.css' />

</head>

<body>
  <!-- 埋点数据 -->
  <div style="position: absolute;width:0;height:0;overflow:hidden;">
    <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1279780013&web_id=1279780013"></script>
  </div>

  <div id="app" class="container" v-show="isPageShow" style="visibility: hidden;">
    <div class="header">
      <img
        src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/5d65b758f0f842069e2196ad0e5bf9f8.png" />
      <!-- 规则及订单按钮 -->
      <div class="order-btn" @click="clickOrderBtn"></div>
      <div onClick="openRules()" class="rule-btn"></div>
      <!-- 套餐切换 -->
      <div class="tab-wrap">
        <div class="tab-item" :class="{'tab-active': packageType === 0, 'tab-unactive': packageType === 1}"
          @click="changePackageType(0)">
          <img v-show="packageType === 0"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/ae5b992c9c5642fd8cde014e6524b7b1.png" />
          <img v-show="packageType === 1"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/a858a4c212bf40b5a28cd52abb692e68.png" />
        </div>
        <div class="tab-item" :class="{'tab-active': packageType === 1, 'tab-unactive': packageType === 0}"
          @click="changePackageType(1)">
          <img v-show="packageType === 1"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/304bbd59d2e24f44bbb0705474cad312.png" />
          <img v-show="packageType === 0"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/2e237bc34f014c0790c920f129e51897.png" />
        </div>
      </div>
    </div>
    <div v-for="(packageItem, packageIndex) in packageList">
      <!-- 有礼品套餐 -->
      <div v-if="packageItem.isGive" v-show="packageType === packageIndex" class="content">
        <!-- 选择礼品，默认有数量的第一个 -->
        <div class="choose-gift" v-if="packageItem.awardList.length > 0">
          <img class="choose-gift-decorator"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/f7a1b441cfc347a2bc2849bc3783bbf1.png" />
          <img class="choose-gift-title"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/73b994cb8b554b3b9ef36d650399c490.png" />
          <div class="gift-item" v-bind:class="{'gift-item-gray': awardItem.num < 1}"
            v-for="(awardItem, index) in packageItem.awardList" @click="chooseGift(index, awardItem.num)">
            <img class="checked-bg" v-if="awardItem.num > 0" v-show="checkedIndex === index"
              src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/e78320cddbe64aa3a0a2436986b62293.png" />
            <div class="item-content">
              <img class="icon" :src="awardItem.icon" />
              <div class="text-wrap" v-bind:class="{'active-text-wrap': awardItem.num > 0 && checkedIndex === index}">
                <div class="text-title ellipsis">{{awardItem.name}}</div>
                <div class="text-description ellipsis">{{awardItem.description}}</div>
                <div class="text-price"><span style="align-self: flex-end;">价值</span><span
                    class="price">¥{{awardItem.price}}</span><span class="price-icon">免费送</span>
                </div>
              </div>
            </div>
            <img class="over-icon" v-if="awardItem.num < 1"
              src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/f5d2fcc99483413d8316bee1ce376f96.png" />
            <img v-if="awardItem.num > 0" v-show="checkedIndex !== index" class="check-icon"
              src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/6d8fcdb9e9954cfbafcadc4427b0f885.png" />
            <img v-if="awardItem.num > 0" v-show="checkedIndex === index" class="check-icon"
              src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/5dbbafa922a44027a877da593e563980.png" />
          </div>
        </div>
        <!-- 会员详情 -->
        <img v-for="(item, index) in indexImgList" :src="item" :key="index" />
        <!-- 礼品详情 -->
        <div class="gift-detail" v-if="packageItem.awardList.length > 0">
          <img
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/22704a93550540c4bd948066b5c9372a.png" />
          <div class="list-gift-wrap" :class="{'space-around': packageItem.awardList.length < 4}">
            <div v-for="(awardItem, index) in packageItem.awardList" class="list-gift-item"
              v-bind:class="{'detail-item-active': detailIndex === index, 'gift-item-multiple': packageItem.awardList.length > 4}"
              @click="changeShowDetail(index)">
              <div class="icon-wrap" v-bind:style="{backgroundColor: awardItem.iconBgColor}">
                <div class="icon-bottom" v-bind:style="{backgroundColor: awardItem.iconBottomColor}"></div>
                <img class="icon" :src="awardItem.icon" />
              </div>
              <div class="title ellipsis">{{awardItem.name}}</div>
            </div>
            <div class="gitf-item-padding" v-if="packageItem.awardList.length > 3"></div>
          </div>
          <div v-show="detailIndex === index" v-for="(item, index) in packageItem.awardList" class="list-img-wrap">
            <img v-for="(item, index) in item.imgList" :src="item" />
          </div>
        </div>
        <!-- 底部按钮 -->
        <div class="bottm-btn-wrap">
          <img v-if="activityStatus === 2" class="bottom-btn"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/38b773138f174a4aad667e0a0cad8aec.png" />
          <img v-if="activityStatus === 1" class="bottom-btn"
            @click="clickOpenBtn(packageItem.aPackageID, packageItem.iPackageID)"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/6205b3af1c2546e8af2af4f64d734686.gif" />
        </div>
      </div>
      <!-- 无礼品套餐 -->
      <div v-else v-show="packageType === packageIndex" class="preheat-page">
        <img v-for="(item, index) in preheatImgList" :src="item" :key="index" />
        <!-- 底部按钮 -->
        <div class="bottm-btn-wrap">
          <img v-if="activityStatus === 2" class="bottom-btn"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/38b773138f174a4aad667e0a0cad8aec.png" />
          <img v-if="activityStatus === 1" @click="clickOpenBtn(packageItem.aPackageID, packageItem.iPackageID)"
            class="bottom-btn"
            src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/2d246ce83b9b4be885c14bc7f63cdaa2.png" />
        </div>
      </div>
    </div>
  </div>
  <!-- 规则弹窗 -->
  <div id="rules-container" class="rules-container" style="display: none;">
    <div class="rules-mask" onClick="closeRules()"></div>
    <div class="rules-list">
      <img class="close-btn" onClick="closeRules()"
        src="https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210203/c8c0d22d5a244ed2a8cf786c14427680.png" />
      <p class="rules-title">活动规则</p>
      <div id="rules-item-wrap" class="rules-item-wrap">
        <p class="rules-item">
          1、宝宝巴士的用户于本活动页购买【儿歌畅享VIP】的一年会员，可免费获赠热门周边礼品（其他套餐不享此优惠）；
        </p>
        <p class="rules-item">
          2、当活动套餐存在多个可选礼品时，用户可通过点击对应版块选择心仪礼品；
        </p>
        <p class="rules-item" style="color: orange">
          3、同一用户可多次购买送周边礼品活动套餐，儿歌畅享VIP有效期累加生效；
        </p>
        <p class="rules-item" style="color: orange">
          4、礼品申领：成功购买活动套餐后，请及时在【订单记录】页点击【填写收件信息】按钮，填写并成功提交收货地址即可完成申领；
        </p>
        <p class="rules-item">
          5、礼品申领截止时间：（1）自活动订单支付成功之日起，15天内提交有效收件信息的用户，申领礼品有效；超过15天未提交有效收件信息的用户，视为自动放弃申领礼品。（2）除本规则说明外，【订单记录】页也会在用户成功支付订单后与订单记录中说明15日有效申领期，平台不做另行通知；
        </p>
        <p class="rules-item">
          6、 由于活动参与人数较多，赠送的礼品会在您提交收件信息后的7个工作日内发出，请您耐心等待；
        </p>
        <p class="rules-item">
          7、付费购买送周边礼品活动套餐的用户，暂不支持退款退货；
        </p>
        <p class="rules-item">
          8、关于会员使用须知，请参照【常见问题】和【会员服务协议】；
        </p>
        <p class="rules-item">
          9、如果有疑问的地方，可联系VIP会员客服热线1：18059175351；热线2：18050313972
        </p>
        <p class="rules-item">
          10、关于该活动的一切解释权，归宝宝巴士所有。
        </p>
      </div>
    </div>
  </div>
</body>

<!-- 服务端vue -->
<!-- <script src="https://actcdn.babybus.com/lib/vue/vue.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  // 友盟埋点
  var _czc = _czc || [];
  _czc.push(["_setAccount", "1279780013"]);
  _czc.push(["_trackEvent", "首页", "访问"]);

  var aid = '';
  aid = getQueryString("aid");

  awardCode = [];

  var app = new Vue({
    el: "#app",

    data: {
      isPageShow: false,
      packageType: 0, // 两个套餐  1\2
      packageStack: [1],
      activityStatus: 0, // 0: 预热状态 1：开始状态  2：结束状态
      showTimer: null,
      preHeatText: "3月14日-3月16日开抢！",
      indexImgList: [ // 活动页图片列表
        'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210319/442252c1080449339ea02784d9c49575.png',
      ],
      preheatImgList: [ // 页图片列表
        'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/c40229a15f864050bf8e457e05e10958.png',
        'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/2914bf63c39c4bbd9f691a7c1656c0d7.png',
        'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/771feb4bbac84c51b3f4c6852bcb217a.png',
      ],
      packageList: [],
      checkedIndex: 0,
      detailIndex: 0,
      // packageList: [{
      //     aPackageID: 226,
      //     awardList: [{
      //         awardCode: "001",
      //         name: 'JOJO的小火车',
      //         description: '职业拼图套装，开启职业认知',
      //         price: 58,
      //         icon: 'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/299cd63075c045eaba7e2df6b695d00d.png',
      //         imgList: [
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/3cf813d66dad4dceb09589feac9e93cf.png',
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/273399a239d441b393d2e2566d4316f6.png',
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/aa8226100974451992524e4360b43af9.png'
      //         ],
      //         iconBgColor: '#d3efff',
      //         iconBottomColor: '#95d8ff',
      //         num: 100
      //       },
      //       {
      //         awardCode: "002",
      //         name: '恐龙积木',
      //         description: '学习恐龙百科，促进脑部开发',
      //         price: 49,
      //         icon: 'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/5d9f7bb35ef7424e97ef749a2c5ad486.png',
      //         imgList: [
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/2e2faa9c621847dd93a107c2a2c60ac8.png',
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/97611bc7877a4a9a8168f33f4e36f082.png'
      //         ],
      //         iconBgColor: '#ffddde',
      //         iconBottomColor: '#ffc4ca',
      //         num: 100
      //       },
      //       {
      //         awardCode: "003",
      //         name: '奇妙古诗词',
      //         description: '60首古诗词，国学经典启蒙',
      //         price: 49,
      //         icon: 'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/34a130cf261e405fbff03c7e75b911eb.png',
      //         imgList: [
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/0d0da0404d2b4d1099406663e8b2041c.png',
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/1d31571c3ee741edb718d1c2a174ca05.png',
      //           'https://picfile-baidu.babybus.com/ActivityData/BabyBusFile/20210322/aa46009d1a434e3d829fe2b25797b4c7.png'
      //         ],
      //         iconBgColor: '#efdef8',
      //         iconBottomColor: '#e1c4fa',
      //         num: 100
      //       },
      //     ],
      //     iPackageID: 225,
      //     isGive: 1
      //   },
      //   {
      //     aPackageID: 0,
      //     awardList: [],
      //     iPackageID: 0,
      //     isGive: 0
      //   }
      // ],
    },

    methods: {
      judgeActivityStatus: function () {
        if (serverTime < joinBeginTime) {
          this.activityStatus = 0;
        } else if (serverTime >= joinBeginTime && serverTime <= joinEndTime) {
          this.activityStatus = 1;
        } else {
          this.activityStatus = 2;
        }
      },

      changePackageType: function (packageType) {
        if (packageType === this.packageType) {
          return
        }
        if (this.packageStack.indexOf(packageType) === -1) {
          this.packageStack.push(packageType);
        }
        this.packageType = packageType;
        _czc.push(["_trackEvent", "首页-套餐切换", "套餐" + this.packageType]);
      },

      chooseGift: function (index, number) {
        if (this.checkedIndex !== index && number > 0) {
          this.checkedIndex = index;
          awardCode[this.packageType] = this.packageList[this.packageType].awardList[this.checkedIndex].awardCode;
          _czc.push(["_trackEvent", "首页-礼品切换", "点击"]);
        }
      },

      changeShowDetail: function (index) {
        if (index !== this.detailIndex) this.detailIndex = index;
      },

      // 订单记录点击
      clickOrderBtn: debounce(
        function () {
          if (
            (resultCode === "" || resultCode === "0") &&
            this.activityStatus !== 0
          ) {
            _czc.push(["_trackEvent", "首页-订单记录按钮", "点击"]);
            if (accountID > 0) {
              jumpToOrderList();
            } else {
              sessionStorage.setItem("preClick", "orderClick");
              sessionStorage.setItem("prePackageType", this.packageType);
              window.location.href = "?Client=Login";
            }
          } else if (this.activityStatus === 0) {
            showToast(this.preHeatText);
          }
        }, 500, true),

      // 购买点击
      clickOpenBtn: debounce(
        function (androidPackageID, iosPackageID) {
          if (
            (resultCode === "" || resultCode === "0") &&
            this.activityStatus === 1
          ) {
            _czc.push(["_trackEvent", "首页-套餐购买按钮点击", "套餐" + this.packageType]);
            if (accountID > 0) {
              if (this.packageList[this.packageType] && this.packageList[this.packageType].awardList.length > 0) {
                awardCode[this.packageType] = this.packageList[this.packageType].awardList[this.checkedIndex].awardCode;
              }
              handlePayment(androidPackageID, iosPackageID);
            } else {
              sessionStorage.setItem("preClick", "buyClick");
              sessionStorage.setItem("prePackageID", JSON.stringify({
                androidPackageID: androidPackageID,
                iosPackageID: iosPackageID
              }));
              sessionStorage.setItem("prePackageType", this.packageType);
              if (this.packageList[this.packageType] && this.packageList[this.packageType].awardList.length > 0) {
                sessionStorage.setItem("preChooseGift", this.packageList[this.packageType].awardList[this
                  .checkedIndex].awardCode);
              }
              window.location.href = "?Client=Login";
            }
          }
        },
        500,
        true
      ),

      // 检查上一次的操作情况
      checkPreOperation: function () {
        var preClick = sessionStorage.getItem("preClick");
        var prePackageType = sessionStorage.getItem("prePackageType");
        var packageID = sessionStorage.getItem("prePackageID");
        var preChooseGift = sessionStorage.getItem("preChooseGift");
        if (prePackageType) {
          this.packageType = Number(prePackageType);
        }
        if (preChooseGift) {
          awardCode[prePackageType] = preChooseGift;
        }
        if (preClick === 'orderClick') {
          jumpToOrderList();
        }
        if (preClick === 'buyClick' && packageID) {
          packageID = JSON.parse(packageID);
          handlePayment(packageID.androidPackageID, packageID.iosPackageID);
        }
        sessionStorage.removeItem("preClick");
        sessionStorage.removeItem("prePackageID");
        sessionStorage.removeItem("prePackageType");
        sessionStorage.removeItem("preChooseGift");
      },

      addPageShowListener: function () {
        var that = this;
        var hiddenProperty =
          "hidden" in document ?
          "hidden" :
          "webkitHidden" in document ?
          "webkitHidden" :
          "mozHidden" in document ?
          "mozHidden" :
          null;
        var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, "visibilitychange");
        var onVisibilityChange = function () {
          if (!document[hiddenProperty]) {
            console.log("我出现了");
            if (accountID <= 0) {
              that.showTimer = setTimeout(function () {
                clearTimeout(that.showTimer);
                sessionStorage.removeItem("preClick");
              }, 1000);
            }
          } else {
            console.log("我隐藏了");
          }
        };
        document.addEventListener(visibilityChangeEvent, onVisibilityChange);
      },

      clickPreHeat: function () {
        showToast(this.preHeatText);
      },

      getPageData() {
        var that = this;
        $.ajax({
          url: '/AppActivity/MoreVIPPay_Index',
          data: {
            aid: aid,
          },
          method: 'GET',
          dataType: 'json',
          complete: function (result) {
            that.isPageShow = true;
            document.getElementById('app').style.visibility = 'visible';
          },
          success: function (res) {
            console.log(res);
            if (res.resultCode === "0") {
              var packageList = res.data.packageList;
              if (packageList.length > 0) {
                that.packageList = that.handleIndexData(packageList);
              }
            }
          },
          fail: function (err) {
            console.log("首页数据获取失败");
          }
        })
      },

      handleIndexData(packageList) {
        for (var i = 0; i < packageList.length; i += 1) {
          if (packageList[i].awardList && packageList[i].awardList.length > 0) {
            for (var j = 0; j < packageList[i].awardList.length; j += 1) {
              var tempObj = localGiftData.hasOwnProperty(packageList[i].awardList[j].awardCode) ?
                localGiftData[packageList[i].awardList[j].awardCode] : null;
              if (tempObj) {
                tempObj.num = packageList[i].awardList[j].num;
                tempObj.awardCode = packageList[i].awardList[j].awardCode;
                tempObj.awardID = packageList[i].awardList[j].awardID;
              }
              packageList[i].awardList[j] = tempObj;
            }
          }
        }
        return packageList;
      },
    },

    created: function () {
      this.judgeActivityStatus();
      this.getPageData()
    },

    mounted: function () {
      this.checkPreOperation();
      this.addPageShowListener();
    },
  });

  // 防抖函数
  function debounce(fn, time, triggleNow) {
    var t = null;

    return function () {
      var _self = this;
      args = arguments;

      if (t) {
        clearTimeout(t);
      }

      if (triggleNow) {
        var exce = !t;

        t = setTimeout(function () {
          t = null;
        }, time);

        if (exce) {
          fn.apply(_self, args);
        }
      } else {
        t = setTimeout(function () {
          fn.apply(_self, args);
          t = null;
        }, time);
      }
    };
  }

  // 规则按钮点击
  function openRules() {
    $(".rules-container").show();
    document.getElementById("rules-item-wrap").scrollTop = 0;
    $("body").addClass("body");
  }

  // 关闭规则弹窗
  function closeRules() {
    $(".rules-container").hide();
    $("body").removeClass("body");
  }

  // 购买回调
  function PayVipPackageCallback(e) {
    var data = JSON.parse(e);
    if (data.TradeStatus == "1") {
      _czc.push(["_trackEvent", "购买成功", "回调"]);
      if (!awardCode[app.packageType] && app.packageList[app.packageType] && app.packageList[app.packageType].awardList.length >
        0) {
        awardCode[app.packageType] = app.packageList[app.packageType].awardList[app.checkedIndex].awardCode;
      }

      if (awardCode[app.packageType]) {
        try {
          $.ajax({
            url: '/AppActivity/MoreVIPPay_OrderInit',
            data: {
              aid: aid,
              tradeNo: data.TradeNo,
              awardCode: awardCode[app.packageType],
            },
            method: 'GET',
            dataType: 'json',
            complete: function (result) {
              jumpToOrderList();
            },
            success: function (res) {
              console.log(res);
            },
            fail: function (err) {
              console.log("绑定奖品失败");
            }
          })
        } catch (error) {
          jumpToOrderList();
        }
      } else {
        jumpToOrderList();
      }

    } else {
      console.log("购买失败");
    }
  }

  // toast组件封装
  var showToast = (function () {
    var div;
    var toastFlag = true;
    var timer = null;
    return function (text, time) {
      if (!text.trim() || !toastFlag) {
        return;
      }
      var duration = time ? time : 2000;
      toastFlag = false;
      timer = null;
      if (!div) {
        div = document.createElement("div");
        div.style.cssText =
          "position: fixed; display: none; font-size: 0.32rem; color: #fff; z-index: 5; max-width: 5rem; min-width: 4rem;text-align:center;top: 40%;padding: 0.1rem 0.3rem;border-radius: 0.5rem;background-color: rgba(0, 0, 0, 0.7);left:50%;transform: translateX(-50%);";
        document.body.appendChild(div);
      }
      div.innerText = text;
      div.style.display = 'block'
      timer = setTimeout(function () {
        toastFlag = true;
        clearTimeout(timer);
        div.style.display = 'none'
      }, duration)
    }
  }())

  // 跳转到订单列表页
  function jumpToOrderList() {
    var url =
      window.location.origin +
      "/appactivity/ModulePageApp?pageid=95dd241f0e9d48758c96f80f11f41753&aid=" + aid;
    window.location.href =
      "?Client=Target&Type=Inner&Url=" + encodeURIComponent(url) + "&Title=订单列表&IsHeader=1&IsNewWindow=1";
  }

  //获取页面传参
  function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return decodeURI(r[2]);
    return null;
  }

  function handlePayment(androidPackageID, iosPackageID) {
    if (!androidPackageID || !iosPackageID) {
      return;
    }
    var packageID = androidPackageID;
    if (navigator.userAgent.toLowerCase().indexOf("android") >= 0) {
      packageID = androidPackageID;
    } else {
      packageID = iosPackageID;
    }
    window.location.href =
      "?Client=VipPackage&PackageID=" +
      packageID +
      "&CallbackFun=PayVipPackageCallback";
  }
</script>

</html>